<p>thanhly works!</p>
<button printSectionId="printdiv" styleSheetFile="asset/style.css" ngxPrint mat-raised-button
  color="primary"><span class="material-icons">
    print
  </span> IN</button><br><br>
<div id="printdiv">
  <div style="text-align: center;">
    <p><b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</b></p>
    <p><b>Độc lập – Tự do – Hạnh phúc.</b></p>
    <p><b>--------o0o-------</b></p>
    <p><b>BIÊN BẢN THANH LÝ HỢP ĐỒNG </b></p>
  </div>
  <br>

  <div>
    <p style=" text-indent: 35px;">-Căn cứ vào hợp đồng cung cấp dịch vụ Số: aaaaaaaaaaaaaaaaaaaaaa đã ký ngày
      00/00/0000
      giữa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa và Công Ty TNHH Công Nghệ và Truyền Thông Hà Nội;</p>
    <p style=" text-indent: 35px;">-Căn cứ vào kết quả nghiệm thu khối lượng công việc hoàn thành, chương trình kết thúc
      ngày 00 tháng 00 năm 0000.
    </p>
    <p>Hôm nay, Ngày 04 tháng 01 năm 2021</p>
  </div>

  <!-- ben a -->
  <div>
    <p><b>BÊN A: CÔNG TY TNHH QUẢNG CÁO VÀ GIẢI TRÍ T.O.P</b></p>

    <p>Địa chỉ : 170N Nơ Trang Long, Phường 12, Quận Bình Thạnh, TP Hồ Chí Minh</p>
    <p>VP giao dịch : 331 Bến Vân Đồn, Phường 1, Quận 4, TPHCM</p>
    <p>Điện thoại : 028 6673 8686</p>
    <p>Đại diện bởi : Ông Trần Đình Vân Trình Chức vụ: Giám đốc</p>
    <p>MST : 0310775575</p>
    <p><b>(Sau đây gọi tắt là Bên A)</b></p>


    <!-- ben b -->

    <p><b>BÊN B: CÔNG TY TNHH CÔNG NGHỆ VÀ TRUYỀN THÔNG HÀ NỘI</b></p>
    <p>Địa chỉ : Số 43,TT33 Khu đô thị văn phú, P. Phú La, Q. Hà đông, Hà Nội</p>
    <p>Mã số thuế : 0108188396</p>
    <p>Số tài khoản : 6899996868 tại ngân hàng TMCP Á châu chi nhánh Hà Nội</p>
    <p>Đại diện bởi : Ông Bùi Anh Duy Chức vụ: Giám Đốc</p>
    <p><b>(Sau đây gọi tắt là Bên B)</b></p>


    <!-- hai ben dong y .. -->

    <div>
      <p>- Hai Bên đồng ý ký biên bản thanh lý của hợp đồng số: 31122020/TOP-VGFX về việc cung cấp dịch vụ hiệu ứng sân
        khấu bao
        gồm lắp đặt, vận hành phục vụ chương trình “ECOPARK COUNT DOWN PARTY 2021” tại Công viên Hồ Thiên Nga, Khu đô
        thị sinh
        thái Ecopark, Văn Giang, Hưng Yên ngày 31/12/2020 theo yêu cầu cụ thể như sau:</p>
      <p>Điều 1. Nội dung thanh lý:
        Bên B đã hoàn thành việc cung cấp dịch vụ hiệu ứng sân khấu bao gồm lắp đặt, vận hành phục vụ chương trình
        theo đúng nội dung hợp đồng, trong quá trình vận hành sử dụng không có sự cố, sai sót.
      </p>
      <br>
      <!-- table -->
      <div class="table" style="border-collapse: collapse;text-align: center;">
        <table border="1" style="width: 100%;border-collapse: collapse;">
          <tr>
            <th style="padding: 10px 5px;">STT</th>
            <th style="padding: 10px 5px;">Hạng mục</th>
            <th style="padding: 10px 5px;">ĐVT</th>
            <th style="padding: 10px 5px;">Đơn giá</th>
            <th style="padding: 10px 5px;">Số lượng</th>
            <th style="padding: 10px 5px;">Thành Tiền</th>
          </tr>
          <!-- <tr *ngFor="let item of dataTable">
            <td style="text-align: center;">{{item.Stt}}</td>
            <td style="text-align: center;">{{item.HangMuc}}</td>
            <td style="text-align: center;">{{item.Dvt}}</td>
            <td style="text-align: center;">{{item.DonGia | tiente}}</td>
            <td style="text-align: center;">{{item.SoLuong}}</td>
            <td style="text-align: center;">{{item.ThanhTien | tiente}}</td>
          </tr>
          <tr>
            <td colspan="5" style="text-align: center;"><b>Tổng</b></td>
            <td style="text-align: center;"><b>{{ tong | tiente}}</b></td>
          </tr>
          <tr>
            <td colspan="5" style="text-align: center;"><b>VAT</b></td>
            <td style="text-align: center;"><b>{{ vat | tiente }}</b></td>
          </tr>
          <tr>
            <td colspan="5" style="text-align: center;"><b>Tổng giá trị hợp đồng</b></td>
            <td style="text-align: center;"><b>{{ tongAll | tiente}}</b></td>
          </tr> -->

        </table>
        <p class="tongtien text-left"><b>Tổng tiền trên đã bao gồm 10%VAT</b></p>
      </div>
    </div>
  </div>


</div>
