#printdiv{
  width: 21cm;
  margin: auto;
  font-family: "Times New Roman", Times, serif;

  border: 1px black solid;
}
@media print {
  .a4 {
      page-break-after: always;
      page-break-inside: auto;
  }
}

@page a4 {
  size: 29.7cm 21cm;
  mso-page-orientation: landscape;
}
.a4 {
  /* margin: auto; */
  text-align: justify;
  padding-top: 1.25cm;
  padding-left: 2.06cm;
  padding-bottom: 0.75cm;
  padding-right: 2.06cm;
  width: 21cm;


}

.edit{
  color: red;
}
