<div style="position: fixed;left: 10px;top: 40%;">
    <button printSectionId="printdiv" ngxPrint class="btn btn-info">IN</button><br><br>
    <button (click)="Export2Doc('a4', 'hop-dong');" class="btn btn-success">DOWNLOAD</button>
</div>
<div id="printdiv" #myDiv>
    <div class="a4" style="margin: auto;">
        <div class="title" style="text-align: center;">
            <span style="font-size: 13pt;">
                <b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</b> <br>
                <span style="line-height: 1.5">Độc lập – Tự Do – Hạnh Phúc</span> <br>
                ---oOo--- <br>
            </span>
            <span style="font-size: 18pt;"> <b> HỢP ĐỒNG DỊCH VỤ</b> </span> <br>
            <span style="font-size: 12pt;"> Số: 2706/20TTHN-NVT</span> <br><br>

        </div>

        <div class="info" style="margin-left: 60px;line-height: 1.5;">
            <span style="line-height: 1.5;"><i>Hôm nay, ngày 25 tháng 06 năm 2020 chúng tôi gồm:</i></span><br>
            <span style="line-height: 1.5">BÊN A &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;: CÔNG TY CỔ PHẦN
                NGHỆ THUẬT
                NGUYỄN VIỆT THANH</span><br>
            <span style="line-height: 1.5">Địa chỉ &#160;&#160;&#160;&#160;&#160;&#160;&#160;: Tầng 3, Tòa nhà Green
                Pearl, số
                378 đường Minh Khai, phường Vĩnh Tuy, quận Hai Bà Trưng, thành phố Hà nội, Việt Nam</span><br>
            <span style="line-height: 1.5">Điện thoại&#160;&#160;: 024 377 28369. </span><br>
            <span style="line-height: 1.5">Mã số thuế : 0108998390. </span><br>
            <span style="line-height: 1.5">Đại diện &#160;&#160;&#160;&#160;&#160;: Bà Lê Thị Trúc Quỳnh - Chức
                vụ: Tổng Giám Đốc</span><br><br>
            <span style="line-height: 1.5">Bên B &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;: CÔNG TY TNHH CÔNG
                NGHỆ VÀ
                TRUYỀN THÔNG HÀ NỘI </span><br>
            <span style="line-height: 1.5">Do Ông &#160;&#160;&#160;&#160;&#160;&#160;&#160;: Ông Bùi Anh Duy - Chức vụ:
                Giám Đốc </span><br>
            <span style="line-height: 1.5">Địa chỉ &#160;&#160;&#160;&#160;&#160;&#160;&#160;: Số 43, TT33 Khu Đô thị
                Văn Phú, Phường Phúc La, Quận Hà Đông, TP. Hà Nội</span><br>
            <span style="line-height: 1.5">Địa chỉ nhận thư : A18- TT17 Khu Đô thị Văn Quán, Hà Đông, Hà Nội</span><br>
            <span style="line-height: 1.5">Điện thoại : 0962 824 222</span><br>
            <span style="line-height: 1.5">Mã số thuế : 0108188396</span><br>
            <span style="line-height: 1.5">Tài khoản NH : 6899996868 tại Ngân hàng TMCP Á Châu- Chi nhánh Hà
                Nội</span><br>
            <span style="line-height: 1.5">Tên chủ tài khoản : Công ty TNHH Công Nghệ và Truyền Thông Hà Nội</span><br>
            <span style="line-height: 1.5">Sau khi bàn bạc, hai bên thống nhất ký kết hợp đồng với các điều khoản
                sau:</span><br>


        </div>
        <br>

        <span style="line-height: 1.5"><b>ĐIỀU 1: NỘI DUNG HỢP ĐỒNG</b></span><br>
        <span style="line-height: 1.5">Bên A đồng ý thuê bên B thực hiện hiệu ứng kỹ xảo khói lửa, khói lạnh nghệ thuật
            thực hiện trong chương
            trình “HỘI THI VĂN HOÁ VIETCOMBANK DƯỚI ÁNH SÁNG TƯ TƯỞNG HỒ CHÍ MINH”</span><br>
        <span style="line-height: 1.5"><b>Giá trị hợp đồng: 27.280.000</b></span><br>
        <span style="line-height: 1.5"><i>(Bằng chữ: Hai mươi bảy triệu hai trăm tám mươi nghìn đồng ./. )</i></span>
        <br>
        <div class="table" style="border-collapse: collapse;text-align: center;">
            <table border="1" style="width: 100%;border-collapse: collapse;">
                <tr>
                    <th style="padding: 10px 5px;">STT</th>
                    <th style="padding: 10px 5px;">Hạng mục</th>
                    <th style="padding: 10px 5px;">ĐVT</th>
                    <th style="padding: 10px 5px;">Đơn giá</th>
                    <th style="padding: 10px 5px;">Số lượng</th>
                    <th style="padding: 10px 5px;">Thành Tiền</th>
                </tr>
                <tr>
                    <td>Peter</td>
                    <td>Griffin</td>
                    <td>Peter</td>
                    <td>Griffin</td>
                    <td>Peter</td>
                    <td>Griffin</td>
                </tr>

                <tr>
                    <td colspan="5" style="text-align: center;"><b>Tổng</b></td>
                    <td style="text-align: center;"><b>24.800.000</b></td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: center;"><b>VAT</b></td>
                    <td style="text-align: center;"><b>2.480.000</b></td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: center;"><b>Tổng giá trị hợp đồng</b></td>
                    <td style="text-align: center;"><b>20000000</b></td>
                </tr>

            </table>
            <p><b>Tổng tiền trên đã bao gồm 10%VAT</b></p>
        </div>
        <div></div>
    </div>