body {
    background-color: #FAFAFA;
    /* box-sizing: border-box;
    -moz-box-sizing: border-box; */
    font-family: "Times New Roman", Times, serif;
    width: 100%;
}
.menu{
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 30px 20px;
  text-align: center;
}
span{
    /* letter-spacing: 0.5px;
    word-spacing: 21px;
    white-space: normal;
    word-spacing: normal; */

}
pre{
    font-family: "Times New Roman", Times, serif !important;
    font-size: 12pt;
    letter-spacing: 0.1;
    word-spacing: 1px;

}
.a4 {
    /* margin: auto; */
    text-align: justify;
    padding-top: 1.25cm;
    padding-left: 2.06cm;
    padding-bottom: 0.75cm;
    padding-right: 1.43cm;
    width: 23cm;
    height: 29.7cm;

}
p{
  vertical-align: auto;
}
.text {
    font-size: 12pt;
    /* padding: 5px; */
    position: absolute;
    border: none;
    background: none;
    border-bottom: 1.8px black dotted;
    outline: none;
}

@media print {
    .a4 {
        page-break-after: always;
        page-break-inside: auto;
    }
}

@page a4 {
    size: 29.7cm 21cm;
    mso-page-orientation: landscape;
}

table,
td,
th {
    border: 1px solid black;
    padding: 10px 5px;
}

table {}

.dieu3{
  text-align: justify;
  padding: 0 25pt;
  line-height: 1.5;
}
.dieu3 p {
  margin-left: 20px;
}
.footer{
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
}

.bena{
  /* background-color: aqua; */
}
.benb{
  /* background-color: red; */
}
.footer div{
  width: 50%;
}
.footer div strong{
  width: 100%;
}
button {
  outline: none;
}